// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

h2 a {
  color: #fff !important;
  text-decoration: none;
}

.paper {
  background-color: #eee;
  padding: 20px;
  white-space: pre;
  border: solid 1px #999;
  width: 730px;
  margin-bottom:20px;
}
